@import 'bootstrap/_variables';
@import 'theme';

.history {
  h2 {
    font-size: 2em;
  }
}

tr.selected-row,
tr.selected-row .mapping-type-redirect,
tr.selected-row .mapping-type-archive {
  background: rgb(255, 252, 213);
}

#redirect-to {
  width: 97%;
}

thead tr + tr td {
  //box-shadow: rgba(0,0,0,0.2) 0 4px 4px -2px;
  box-shadow: #bbb 0 1px;
  z-index: 1;
  position: relative;
}

.mappings label {
  display: block;
  height: 40px;
  margin: -8px;
  padding: 8px;
  text-align: center;
}


.mapping-type-redirect {
  background-color: $goodHTTPStatusColor;
}

.mapping-type-archive {
  background-color: $defaultHTTPStatusColor;
}

.read-only-fields dt {
  margin-bottom: 5px;
}

.read-only-fields dd {
  margin-left: 0;
  margin-bottom: $baseLineHeight;
}
