<div class="mappings">
  <h3 class="remove-top-margin add-bottom-margin">Mappings</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <p class="bold">
          All paths from <i><%= @site.default_host.hostname %></i><br />
          <span class="text-muted">have been archived</span>
        </p>
        <p class="text-muted remove-bottom-margin">
          This is known as a global archive, the entire old site has been archived because it doesn’t meet a user need. To make changes contact the <a href="#" class="link-muted">Transition Software team</a>.
        </p>
    </div>
  </div>
</div>
