<div class="mappings">
  <h3 class="remove-top-margin add-bottom-margin">Mappings</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <p class="bold">
          All paths from <i><%= @site.default_host.hostname %></i><br />
          <span class="text-muted">redirect to <a href="#">https://www.gov.uk</a></span>
        </p>
        <p class="text-muted remove-bottom-margin">
          This is known as a global redirect, the entire old site redirects to a single page on GOV.UK. To make changes contact the <a href="#" class="link-muted">Transition Software team</a>.
        </p>
    </div>
  </div>
</div>
